server:
  port: 1234
spring:
  application:
    name: carimbai
  flyway:
    enabled: true
    locations: classpath:db.migration
    baseline-on-migrate: true
    validate-on-migrate: true
  datasource:
    url: jdbc:postgresql://localhost:5434/carimbai
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /

carimbai:
  hmac-secret: ${CARIMBAI_HMAC_SECRET:dev-secret-change-me}

